[version]
name = CONFIG_D054_T1.1

[display]
nvm = S1D13541
nvm_format = S1D13541
controller = S1D13541
temp_mode = MANUAL
instruction_code_file = "/boot/uboot/D054_T1.1/bin/Ecode.bin"
default_vcom = 4000
default_temp = 23
default_waveform = "/boot/uboot/D054_T1.1/display/waveform.bin"

[general]
driver_board = FALCON_SPI_EXT_EPDC
control_system = BEAGLEBONE_BLACK
i2c_master = BEAGLEBONE; EPDC; BEAGLEBONE; 
spi_port = 1
epdc_spi_port = 1
nvm_spi_port = 1
DISPLAY_SCRAMBLE_CONFIG	= 418 ; 2 + 32 + 128 + 256 = 418
update_image_mode = BW; BW | CFA | ACEP | ACEP_ACVCOM

[vcom]
dac_x1				= 127	;   /* first DAC register value (25% of full scale) */
dac_y1				= 4172	;   /* corresponding first voltage in mV */
dac_x2				= 382	;   /* second DAC register value (75% of full scale) */
dac_y2				= 12490	;   /* corresponding second voltage in mV */
vgpos_mv 			= 25080	;   /* VGPOS in mV */
vgneg_mv 			=-32300	;   /* VGNEG in mV */
swing_ideal 	= 56886

[hv_hardware]
hv_config_vgl = -32300
hv_config_vgh =  25080
hv_config_vsh =  15000
vcom_driver = TPS65185
vcom_config = TPS65185
hv_driver = TPS65185
hv_config = NULL
hv_timing = NULL
vcom_switch = GPIO
TOFFSET_VGL_ON	=	8
TOFFSET_VSL_ON	=	2
TOFFSET_VSH_ON	=	11
TOFFSET_VGH_ON	=	3
TOFFSET_VGH_OFF	=	0
TOFFSET_VSH_OFF	=	0
TOFFSET_VSL_OFF	=	0
TOFFSET_VGL_OFF	=	0




