[version]
name = CONFIG_D107_T2.1

[display]
nvm = NULL
controller = S1D13524
temp_mode = MANUAL
instruction_code_file = "/mnt/data/PL_TEST_SOFTWARE/lib/S1D13524/Type11_bin_instruction_code-Type11.bin"
default_vcom = 4000
default_temp = 23
default_waveform = "/mnt/data/override/waveform.wbf"

[general]
driver_board = FALCON
control_system = BEAGLEBONE_BLACK
spi_port = 1
epdc_spi_port = 1
nvm_spi_port = 1
DISPLAY_SCRAMBLE_CONFIG	= 0

[vcom]
dac_x1				= 63		;   /* first DAC register value (25% of full scale) */
dac_y1				= 4586	;   /* corresponding first voltage in mV */
dac_x2				= 189		;   /* second DAC register value (75% of full scale) */
dac_y2				= 9800	;   /* corresponding second voltage in mV */
vgpos_mv 			= 27770	;   /* VGPOS in mV */
vgneg_mv 			=-41520	;   /* VGNEG in mV */
swing_ideal 	= 70000

[hv_hardware]
hv_config_vgl = -42000
hv_config_vgh =  28000
hv_config_vsh =  15000
vcom_driver = NULL
vcom_config = MAX17135
hv_driver = S1D13524
hv_config = MAX17135
hv_timing = MAX17135
vcom_switch = S1D13524
TOFFSET_VGL_ON	=	12
TOFFSET_VSL_ON	=	7
TOFFSET_VSH_ON	=	2
TOFFSET_VGH_ON	=	23
TOFFSET_VGH_OFF	=	2
TOFFSET_VSH_OFF	=	14
TOFFSET_VSL_OFF	=	12
TOFFSET_VGL_OFF	=	7


