[version]
name = D054_T2.1_ACeP_Eval_T23_V7_25fps

[general]
control_system = BEAGLEBONE_BLACK

[options]


[wf_id_0]
vcom_level  =    h  l  h  l  h  l g
frame_cnt   =   16 16 16 16 16 16 4

[wf_id_1]
vcom_level  =    h  l  h  l  h  l v
frame_cnt   =    8  8  8  8  8  8 2

[wf_id_2_V8]
vcom_level  =   h  l  v  v  l  h  v  v  h  v l h h v  v   h  v  v   h  v  l l v
frame_cnt   =   4  4 20 20 10 20  1 10 20 10 3 3 2 3  5  18 12  5  18 12  1 2 1

[wf_id_2]
vcom_level  =   h  l  h  l  h  l  v  l  h  v  v  h  v l h h v  v   h  v  v   h  v  l l v
frame_cnt   =   6  6  6  6  6  6 12 10 20  1 10 20 10 3 3 2 3  5  18 12  5  18 12  1 2 1


[wf_id_3]
vcom_level  =    l  h  v  v  h  v
frame_cnt   =   10 20  1 10 20 10

[wf_id_4]
vcom_level  =    l h h v
frame_cnt   =    3 3 2 3

[wf_id_6]
vcom_level  =     v  h  v
frame_cnt   =    5  18 12

[wf_id_7]
vcom_level  =     l l v
frame_cnt   =     1 2 1


