[version]
name = CONFIG_D054_T2.1

[display]
nvm = NULL
nvm_format = NULL
controller = S1D13541; IT8951
temp_mode = MANUAL
instruction_code_file = "/boot/uboot/D054_T2.1/bin/instruction_code-Type34.bin";
default_vcom = 4900
default_temp = 23
default_waveform = "/boot/uboot/D054_T2.1/display/D054_T2.1_ACeP_Eval_W2_T23_V10_25fps_One.bin"; D054_T2.1_ACeP_Eval_W2_T23_V7_25fps.bin"; D054_T2.1_ACeP_Eval_W2_T23_V9_25fps_One.bin";

[general]
driver_board =  FALCON_SPI_EXT_EPDC_POWEREXT; FALCON_SPI_EXT_EPDC ; FALCON_SPI; FALCON_I80; 
control_system = BEAGLEBONE_BLACK
i2c_master = BEAGLEBONE; EPDC;
spi_port = 1
epdc_spi_port = 1
nvm_spi_port = 1
i2c_port = 2
DISPLAY_SCRAMBLE_CONFIG	= 418 ; 2 + 32 + 128 + 256 = 418
DISPLAY_SCRAMBLE_XOFFSET = 4
update_image_mode = ACEP_ACVCOM; BW | CFA | ACEP | ACEP_ACVCOM

[vcom]
dac_x1				= 127	;   /* first DAC register value (25% of full scale) */
dac_y1				= 5160	;   /* corresponding first voltage in mV */
dac_x2				= 382	;   /* second DAC register value (75% of full scale) */
dac_y2				= 15260	;   /* corresponding second voltage in mV */
vgpos_mv 			= 25080	;   /* VGPOS in mV */
vgneg_mv 			=-32300	;   /* VGNEG in mV */
swing_ideal 	= 56886
dac_vcoml_slope =  -105
dac_vcoml_offset = -1352
vcoml = -11000
dac_vcomh_slope = 102
dac_vcomh_offset = 1586
vcomh = 19000

[hv_hardware]
hv_config_vgl = -32300
hv_config_vgh =  25080
hv_config_vsh =  15000
vcom_driver = TPS65185
vcom_config = TPS65185
hv_driver = TPS65185
hv_config = NULL
hv_timing = NULL
vcom_switch = GPIO
TOFFSET_VGL_ON	=	8
TOFFSET_VSL_ON	=	2
TOFFSET_VSH_ON	=	11
TOFFSET_VGH_ON	=	3
TOFFSET_VGH_OFF	=	0
TOFFSET_VSH_OFF	=	0
TOFFSET_VSL_OFF	=	0
TOFFSET_VGL_OFF	=	0

[register_settings]
0x001c=0x0f09; double frame time round about 40ms per frame


