[version]
name = CONFIG_S308_T1.1

[display]
nvm = MACRONIX_MX25U4033E
nvm_format = EPSON
controller = S1D13524
temp_mode = MANUAL
instruction_code_file = "/boot/uboot/S308_T1.1/bin/Ecode.bin"
default_vcom = 4000
default_temp = 23
default_waveform = "/boot/uboot/S308_T1.1/display/waveform.wbf"

[general]
driver_board = FALCON_PARALLEL
control_system = BEAGLEBONE_BLACK
spi_port = 1
epdc_spi_port = 1
nvm_spi_port = 1
DISPLAY_SCRAMBLE_CONFIG	= 32
DISPLAY_SCRAMBLE_XOFFSET = 0
DISPLAY_SCRAMBLE_YOFFSET = 0

[vcom]
dac_x1				= 63		;   /* first DAC register value (25% of full scale) */
dac_y1				= 4586	;   /* corresponding first voltage in mV */
dac_x2				= 189		;   /* second DAC register value (75% of full scale) */
dac_y2				= 9800	;   /* corresponding second voltage in mV */
vgpos_mv 			= 27770	;   /* VGPOS in mV */
vgneg_mv 			=-41520	;   /* VGNEG in mV */
swing_ideal 	= 70000

[hv_hardware]
hv_config_vgl = -42000
hv_config_vgh =  28000
hv_config_vsh =  15000
vcom_driver = NULL
vcom_config = MAX17135
hv_driver = S1D13524
hv_config = MAX17135
hv_timing = MAX17135
vcom_switch = S1D13524
TOFFSET_VGL_ON	=	0
TOFFSET_VSL_ON	=	0
TOFFSET_VSH_ON	=	2
TOFFSET_VGH_ON	=	5
TOFFSET_VGH_OFF	=	0
TOFFSET_VSH_OFF	=	0
TOFFSET_VSL_OFF	=	1
TOFFSET_VGL_OFF	=	0

[register_settings]
0x0018=0x040e; Pixel Clock
0x0300=0x0180; Gates 384
0x0306=0x0780; Sources 1920
0x0308=0x0306; line sync length
0x030a=0x4848; line begin /end length
0x0378=0x0000; line front / back dummy length

0x0374=0x000c; gate driver GDCLK start
0x0372=0x00f0; gate driver GDCLK width

0x0304=0x0404; Frame Begin/End length
0x030c=0x02c8; source driver config
0x030e=0x0006; source gate driver config
0x0360=0x0006; source  driver advance timing
0x0362=0x0004; gate driver advanced timing
